body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: #f6d743;
  text-align: center;
}

h1 {
  margin: 10px;
  color: #ffb703;
  text-shadow: 2px 2px 5px #000;
}

#map {
  height: 90vh;
  width: 100%;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background: #ff9800;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
